*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Aleo", serif;
  outline: none;
}

@font-face {
  font-family: "BasementGrotesque";
  src: local("BasementGrotesque"),
    url(./assets/fonts/BasementGrotesque-Black_v1.202.otf) format("opentype");
}

body {
  width: 100%;
  overflow-x: hidden;
  line-height: 1.7;
  color: #393c41;
  padding: 30px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 12rem;
  font-family: "BasementGrotesque";
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 6rem;
}

h2 {
  font-size: 6rem;
  font-family: "BasementGrotesque";
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
}
