*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Rubik', sans-serif;
  outline: none;
  caret-color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,300&display=swap');

@font-face {
  font-family: 'BasementGrotesque';
  src: local('BasementGrotesque'),
    url(./assets/fonts/BasementGrotesque-Black_v1.202.otf) format('opentype');
}

body {
  width: 100%;
  overflow-x: hidden;
  color: #393c41;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

h1 {
  font-size: 12rem;
  font-family: 'BasementGrotesque';
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 6rem;
}

h2 {
  font-size: 6rem;
  font-family: 'BasementGrotesque';
  text-transform: uppercase;
  transform: translateY(1rem);
}

/* h2::before {
  margin-top: -3rem;
} */

h3 {
  font-size: 4rem;
  font-family: 'BasementGrotesque';
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(to right, #fe9622, #fec922);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

h3:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgab(0, 0, 0, 0.2);
}

a h3:active {
  transform: rotate(168deg);
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'BasementGrotesque';
}

p {
  font-size: 1.6rem;
}

p::selection: {
  background: #ff8c00;
  color: yellow;
  font-size: 1.9;
}

P:not(:last-child) {
  margin-bottom: 3rem;
}
